.LoginContainer{

    background-color: #42C2FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: fit-content !important;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    /* text-align: right; */
  }
  .input{

    width: 95%;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 8px;
  }

  .submit_btn{
    border-radius: 13px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #478daf;
    color: white;
    border: none;
    transition: all ease-in 0.3s;
  }
  .submit_btn:hover{
    padding-left: 9px;
    padding-right: 9px;


  }