.LoginContainer{

    background-color: #42C2FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: fit-content !important;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    /* text-align: right; */
  }
  .input{

    width: 95%;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 8px;
  }